<div class="contain_button">
  <input
    class="input_button"
    type="button"
    onclick="location.href='/'"
    value="Registrar un producto"
  />
</div>

<div class="product-container">
  {{#if products}}
    {{#each products}}
      <div class="product-card">
        <p>{{this.title}}</p>
        <p>{{this.price}}</p>
        <img src={{this.thumbnail}} />
      </div>
    {{/each}}
  {{else}}
    <h2>Not exist products</h2>
  {{/if}}
</div>