<div class="contain_button">
  <input
    class="input_button"
    type="button"
    onclick="location.href='/'"
    value="Registrar un producto"
  />
</div>

<div class="product-container">
  {{#each products}}
    <div class="product-card">
      <p>{{this.title}}</p>
      <p>{{this.description}}</p>
      <p>{{this.price}}</p>
      <img src={{this.thumbnail}} />
    </div>
  {{/each}}
</div>