<div>
    <form id="userForm">
        <div>
            <label>Nombre</label>
            <input name="first_name">
        </div>
        <div>
            <label>Apellido</label>
            <input name="last_name">
        </div>
        <div>
            <label>email</label>
            <input name="email">
        </div>
        <div></div>
            <label>password</label>
            <input type="password" name="password">
        <div>
            <button type="submit">ENVIAR</button>
        </div>
    </form>

    <a href="/users">Ir a usuarios</a>
</div>

<script src="index.js"></script>