{{#if products}}
  {{#each products}}
    <div class="containTemplate">
      <p>
        {{this.title}}
      </p>
      <p>
        price: ${{this.price}}
      </p>
      <p>
        {{this.description}}
      </p>
      <img class="imgTemplate" src={{this.thumbnail}} />
    </div>
  {{/each}}
{{/if}}