{{#if products}}
  {{#each products}}
    <div class="containTemplate">
      <p> {{this.title}}</p>
      <p>price: ${{this.price}}</p>
      <img class="imgTemplate" src={{this.thumbnail}} alt="imgTemplate" />
    </div>
  {{/each}}
{{else}}
  <h2>Not exist products</h2>
{{/if}}