<div class="container p-5">
  <div class="row">
    <div
      class="col-sm-12 col-md-4 p-5 mb-5 d-grid"
      style="background-color: rgb(76, 87, 167);"
    >
      <img
        id="avatar"
        src=""
        alt="avatar"
        style="background-color: rgb(247, 247, 247);"
      />
      <p id="username"></p>
      <p id="email"></p>
      <button id="logout" class="btn btn-secundary">LogOut</button>
    </div>
  </div>
</div>